.icon{
    aspect-ratio: 2;
}
.dash-cards{
    border-radius: 25px;
    background-color: var(--card-bg);
}
.bi-droplet,
.bi-droplet-half,
.bi-droplet-fill {
  color: #4dc2d9;
}
.bi-thermometer{
    color: blue;
}
.bi-thermometer-high{
    color: rgb(167, 1, 1);
}