*::-webkit-scrollbar,
*::-ms-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb,
*::-ms-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
*::-webkit-scrollbar-track,
*::-ms-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
* {
  scroll-behavior: smooth;
  &:focus{
    outline: none;
  }
}
