.bi-thermometer-snow {
  color: #00bcd4;
}
.bi-thermometer-sun {
  color: red;
}
.bi-sunset {
  color: #e69d3f;
}
.bi-sunrise {
  color: #fdb813;
}
.bi-droplet,
.bi-droplet-half,
.bi-droplet-fill {
  color: #4dc2d9;
}
