.sunRays {
  animation: rotateObject 20s linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.moon-Stars {
  animation: MoonStarShine 4s linear infinite;
  animation-delay: calc(var(--i) * 0.6s);
}
.rainDroplet {
  animation: rainDrops 15s linear infinite;
  animation-delay: calc(var(--i) * 0.123456789s);
}

.snowballFall {
  animation: rainDrops 25s infinite linear;
  animation-delay: calc(var(--i) * 0.625s);
}
.drizzle-RainDrops {
  animation: drizzleRain 0.75s linear infinite;
  animation-delay: calc(var(--i) * 0.125s);
}
.cloudMoving {
  animation: cloudMoving 5s linear infinite;
  animation-delay: calc(var(--i) * 250ms + 500ms);
}
.freezingRainIce {
  animation: fallingRotatingIce 8s linear infinite;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
.lightningBolt {
  animation: lightning 3s linear infinite forwards;
  animation-delay: calc(var(--i) * 0.125s);
  opacity: 0;
}

// Animations for dashboard icons
@keyframes drizzleRain {
  0% {
    transform: translate(5px, -10px);
    opacity: 1;
  }
  99% {
    transform: translate(-50px, 100px);
  }
  100% {
    transform: translate(5px, -10px);
    opacity: 0;
  }
}
@keyframes fallingRotatingIce {
  0%,
  20.01% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(0, 75px) rotate(110deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes cloudMoving {
  0%,
  50%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  75% {
    transform: translate(-10px, 0);
  }
}
@keyframes MoonStarShine {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes lightning {
  0%,
  15%,
  30%,
  100% {
    opacity: 0;
  }
  14%,
  29% {
    opacity: 1;
  }
}
@keyframes rotateObject {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rainDrops {
  0%,
  5.01%,
  10.01%,
  15.01%,
  20.01%,
  25.01%,
  30.01%,
  35.01%,
  40.01%,
  45.01%,
  50.01%,
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
  4.99%,
  9.99%,
  14.99%,
  19.99%,
  24.99%,
  29.99%,
  34.99%,
  39.99%,
  44.99%,
  49.99% {
    transform: translate(0, 30%);
    opacity: 0;
  }
}
