* {
    transition: background-color 500ms;
    transition: background 500ms;
}

app-root {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-bg);
    display: block;
    position: relative;
}

@media (prefers-color-scheme:dark) {
    app-root{
    background-color: var(--primary-bg);
    }
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';