html[data-theme='light'] {
    --bg-body: #F5F5F5;
}

html[data-theme='dark'] {
    --bg-body: #777777;
}

* {
    transition: background-color 500ms;
    transition: background 500ms;
}

app-root {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-bg);
    display: block;
    position: relative;
}

@media (prefers-color-scheme:dark) {
     :root {
        --bg-body: #929292;
    }
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';