<div class="container-fluid dashboard-hero">
    <div class="row align-items-stretch">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 offset-lg-0 d-flex col-lg-4">
            <app-weather-details1 class="p-5 m-sm-3 mt-4 pt-1 w-100 hero-card"></app-weather-details1>
        </div>
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 offset-lg-0 d-flex col-lg-4">
            <app-weather-cards class="w-100 m-sm-3 mt-4 pt-1 hero-card"></app-weather-cards>
        </div>
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 offset-lg-0 d-flex col-lg-4">
            <app-weather-details2 class="w-100 p-5 m-sm-3 mt-4 pt-1 hero-card"></app-weather-details2>
        </div>
    </div>
</div>